a:link {
   color: orange;
   text-decoration: none;
}

a:visited {
    color: orange;
    background-color: cyan;
}

a:active {
    background-color: hotpink;
} 

body {
	height: 100%;
	font-family: Helvetica;
	font-weight: bold;
	text-align: left;
	position: relative;
	z-index: 4;
	}

.state {
	font-size: 30px;
	font-size: 2.7vw;
	-webkit-transition: all 2s ease-in-out;
	-moz-transition: all 2s ease-in-out;
	-o-transition: all 2s ease-in-out;
	-ms-transition: all 2s ease-in-out;

}

.state:hover{
  -webkit-transform: translate(10em,0);
  -moz-transform: translate(20em,0);
  -o-transform: translate(20em,0);
  -ms-transform: translate(20em,0);
}

.top {
	color: rgb(0,143,219);
	}

.middle {
	color: rgb(16,52,130);
	}

.bottom {
	color: rgb(200,45,43);
	}

.start {
	padding-top: 50px;
	padding-top: 3.88vw;
	}

.contributors{
	padding-top: 50px;
	padding-top: 3.88vw;
	}

.one{
	margin-left: 2%;
	}

.two{
	margin-left: 3%;
	}

.three{
	margin-left: 4%;
	}

.four{
	margin-left: 5%;
	}

.five{
	margin-left: 6%;
	}

.six{
	margin-left: 7%;
	}

.seven{
	margin-left: 8%;
	}

.eight{
	margin-left: 9%;
	}


 


.outer-container {
  position: relative;
  padding: 10px;
  height: 100vh;
}

.flex-container {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  flex-wrap: wrap;
}

.column {
  width: 50%;
  margin: 5px;
}

img {
  max-width: 100%;
  z-index: 1;
  position: relative;
}




