    .overlay{
        position: fixed;
        top: 100px;
        left: 500px;
        right: 0px;
        bottom: 0px;
        background-color: rgba(0, 0, 0, .5);

        .overlay-content {
            height: 100%;
            overflow: scroll;
        }
    }
    
    .background-content{
        height: 100%;
        overflow: auto;
        color: red;
    }